@media (min-width: 725px) and (max-width: 1000px) {
  #main-01 {
    width: 300px;
    margin: 20px;
  }
  #main-content-01 {
    /* border: 2px solid red; */
    height: 295px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #main-01 p {
    font-size: 27px;
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
  }
  #main-01-image img {
    height: 296px;
    width: 415px;
    /* border: 2px solid green; */
  }
  #latest {
    height: 70%;
    border: 2px solid orange;
    background-color: azure;
  }
  #item-02 {
    display: flex;
    justify-content: center;
  }
  .items-main-02 {
    height: 219px;
    width: 200px;
    background-color: rgb(122, 122, 122);
    margin: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .items-main-02 img {
    /* border: 2px solid red; */
  }
  #s1-02 {
    background: url(./photos/s1.jpg);
    background-size: 150px 150px;
    background-repeat: no-repeat;
  }
  #s2-02 {
    background: url(./photos/s2.jpg);
    background-size: 150px 150px;
    background-repeat: no-repeat;
  }
  #s3-02 {
    background: url(./photos/s3.jpeg);
    background-size: 150px 150px;
    background-repeat: no-repeat;
  }
  #s4-02 {
    background: url(./photos/s4.jpg);
    background-size: 150px 150px;
    background-repeat: no-repeat;
  }
}
@media (max-width: 725px) and (min-width: 404px) {
  #navbar-main {
    background-color: rgb(228, 230, 232);
    /* width: 99vw; */
    height: 100px;
    display: flex;
  }
  #items {
    display: flex;
    list-style: none;
    margin-top: 35px;
  }
  #items li a {
    cursor: pointer;
    margin: 5px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    transition: all 0.56s;
  }
  #items li a:hover {
    color: rgb(49, 96, 96);
    text-decoration: underline;
  }
  #search-bar {
    /* display: flex; */
    position: absolute;
    right: 20px;
    top: 53px;
    display: none;
  }
  #search-bar input {
    /* height: 10px; */
    width: 150px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: 0.5px solid black;
    border-radius: 7px;
    outline: none;
  }
  .btn {
    padding: 4px;
    width: 100px;
    border-radius: 23px;
    background-color: rgb(138, 164, 186);
    border: 0.5px solid black;
    cursor: pointer;
  }
  .btn:hover {
    background-color: aliceblue;
    color: rgb(138, 164, 186);
  }
  #for-logo img {
    height: 100px;
  }
  #main-01 {
    width: 300px;
    margin: 20px;
  }
  #main-content-01 {
    /* border: 2px solid red; */
    height: 295px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #main-01 p {
    font-size: 20px;
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
  }
  #main-01-image img {
    height: 233px;
    width: 260px;
    /* border: 2px solid green; */
  }
  #latest {
    height: 70%;
    /* border: 2px solid orange; */
    background-color: azure;
  }
  #item-02 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* align-items: center; */
  }
  .items-main-02 {
    height: 219px;
    width: 200px;
    background-color: rgb(122, 122, 122);
    margin: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .items-main-02 img {
    /* border: 2px solid red; */
  }
  #s1-02 {
    background: url(./photos/s1.jpg);
    background-size: 200px 200px;
    background-repeat: no-repeat;
  }
  #s2-02 {
    background: url(./photos/s2.jpg);
    background-size: 200px 200px;
    background-repeat: no-repeat;
  }
  #s3-02 {
    background: url(./photos/s3.jpeg);
    background-size: 200px 200px;
    background-repeat: no-repeat;
  }
  #s4-02 {
    background: url(./photos/s4.jpg);
    background-size: 200px 200px;
    background-repeat: no-repeat;
  }
  #timer-in-latest-section h1 {
    margin: 12px;
  }
  #timer-in-latest-section p {
    font-size: 32px;
    background-color: rgb(25, 25, 25);
    transition: all 0.75s;
    color: white;
    margin: 12px;
    width: 100%;
  }
  #timer-main {
    display: flex;
    flex-direction: column;
  }
  #sale {
    height: 200px;
    width: 265px;
    border-radius: 10px;
    transition: all 0.75s;
  }
  #footer {
    background-color: rgb(255, 255, 255);
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  #footer-1 p {
    margin: 8x;
  }
  #footer-1 h2 {
    margin: 8px;
  }

  #footer-2 h2 {
    margin: 8px;
  }
  #footer-2 p {
    margin: 8px;
  }
  #identy {
    /* margin: 12px; */
  }
  #identy img {
    height: 50px;
    width: 100px;
    border-radius: 9px;
  }
}
@media (max-width: 425px) and (min-width: 253px) {
  #navbar-main {
    background-color: rgb(228, 230, 232);
    /* width: 99vw; */
    height: 100px;
    display: flex;
  }
  #items {
    display: flex;
    list-style: none;
    margin-top: 35px;
  }
  #items li a {
    cursor: pointer;
    margin: 14px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    transition: all 0.56s;
    font-size: 11px;
  }
  #items li a:hover {
    color: rgb(49, 96, 96);
    text-decoration: underline;
  }
  #search-bar {
    /* display: flex; */
    position: absolute;
    right: 20px;
    top: 53px;
    display: none;
  }
  #search-bar input {
    /* height: 10px; */
    width: 150px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: 0.5px solid black;
    border-radius: 7px;
    outline: none;
  }
  .btn {
    padding: 4px;
    width: 100px;
    border-radius: 23px;
    background-color: rgb(138, 164, 186);
    border: 0.5px solid black;
    cursor: pointer;
  }
  .btn:hover {
    background-color: aliceblue;
    color: rgb(138, 164, 186);
  }
  #for-logo img {
    height: 100px;
  }
  #main-01 {
    width: 300px;
    margin: 20px;
  }
  #main-content-01 {
    /* border: 2px solid red; */
    height: 295px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #main-01 p {
    font-size: 24px;
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
  }
  #main-01-image img {
    height: 200px;
    width: 290px;
    /* border: 2px solid green; */
  }
  #latest {
    height: 70%;
    /* border: 2px solid orange; */
    background-color: azure;
  }
  #item-02 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* align-items: center; */
  }
  .items-main-02 {
    height: 219px;
    width: 200px;
    background-color: rgb(122, 122, 122);
    margin: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .items-main-02 img {
    /* border: 2px solid red; */
  }
  #s1-02 {
    background: url(./photos/s1.jpg);
    background-size: 200px 200px;
    background-repeat: no-repeat;
  }
  #s2-02 {
    background: url(./photos/s2.jpg);
    background-size: 200px 200px;
    background-repeat: no-repeat;
  }
  #s3-02 {
    background: url(./photos/s3.jpeg);
    background-size: 200px 200px;
    background-repeat: no-repeat;
  }
  #s4-02 {
    background: url(./photos/s4.jpg);
    background-size: 200px 200px;
    background-repeat: no-repeat;
  }
  #timer-in-latest-section h1 {
    margin: 12px;
  }
  #timer-in-latest-section p {
    font-size: 32px;
    background-color: rgb(25, 25, 25);
    transition: all 0.75s;
    color: white;
    margin: 12px;
    width: 100%;
  }
  #timer-main {
    display: flex;
    flex-direction: column;
  }
  #sale {
    height: 200px;
    width: 265px;
    border-radius: 10px;
    transition: all 0.75s;
  }
  #footer {
    background-color: rgb(255, 255, 255);
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  #footer-1 p {
    margin: 8x;
  }
  #footer-1 h2 {
    margin: 8px;
  }

  #footer-2 h2 {
    margin: 8px;
  }
  #footer-2 p {
    margin: 8px;
  }

  #identy img {
    height: 50px;
    width: 100px;
    border-radius: 9px;
  }
} ;
